<div class="friend-list-container">
  <div class="list-block online-list" (click)="onlineClick()">
    <span class="circle-marker online-marker"></span>
    <span class="icon right-icon"></span>
    <span class="list-header">Online friends</span>
  </div>
  <div *ngIf="onlineCollapsed">
    <div *ngFor="let friend of friends">
      <ng-container *ngIf="friend.status === 'online'">
        <div class="list-item" [ngStyle]="{ 'border-bottom': 'none'}">
          <span class="circle-marker online-marker"></span>
          <a>{{ friend.name }}</a>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="list-block offline-list" (click)="offlineClick()">
    <span class="circle-marker offline-marker"></span>
    <span class="icon right-icon"></span>
    <span class="list-header">Offline friends</span>
  </div>
  <div *ngIf="offlineCollapsed">
    <div *ngFor="let friend of friends; let first = first; let last = last">
      <ng-container *ngIf="friend.status === 'offline'">
        <div class="list-item" [ngStyle]="{ 'border-bottom': friend === last ? '2px solid #e6e8eb' : 'none'}">
          <span class="circle-marker offline-marker"></span>
          <a>{{ friend.name }}</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
