.dropdown-list {
  min-height: 240px;
  max-height: 440px;
  overflow-y: auto;
}

.dropdown-list__header {
  padding: 8px 24px;
  border: 1px solid #e6e8eb;
}

.dropdown-list__header:hover {
  background-color: #ededf0;
  cursor: pointer;
}

.header__circle-marker {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-right: 8px;
}

.header__icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.right-icon {
  background: url('../../../../assets/images/icons/right.svg') center no-repeat;
  margin-right: 8px;
}

.down-icon {
  background: url('../../../../assets/images/icons/down.svg') center no-repeat;
  margin-right: 8px;
}

.header__list-title {
  font-size: 14px;
}

.content__item{
  border: 1px solid #e6e8eb;
  padding: 8px 12px 8px 84px;
}

.content__item:hover {
  background-color: #ededf0;
  cursor: pointer;
}
