<div class="dropdown-list">
  <div class="dropdown-list__header" (click)="toggle()">
    <span class="header__circle-marker"></span>
    <span class="header__icon" [ngClass]="!isCollapsed ? 'right-icon' : 'down-icon'"></span>
    <span class="header__list-title">Online friends</span>
  </div>
  <div *ngIf="isCollapsed" class="dropdown-list__content">
    <div *ngFor="let item of items" class="content__item" [ngStyle]="{ 'border-bottom': 'none'}">
      <span class="circle-marker online-marker"></span>
      <a>{{ item.title }}</a>
    </div>
  </div>
</div>
