.friend-list-container {
  min-height: 240px;
  max-height: 440px;
  overflow-y: auto;
}

.online-list {
  border-bottom: none !important;
}

.list-block {
  padding: 8px 24px;
  border: 1px solid #e6e8eb;
}

.list-block:hover {
  background-color: #ededf0;
  cursor: pointer;
}

.circle-marker {
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-right: 8px;
}

.online-marker {
  background-color: rgb(15, 178, 34);
}

.offline-marker {
  background-color: rgb(255, 28, 28);
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.right-icon {
  background: url('../../../../assets/images/icons/right.svg') center no-repeat;
  margin-right: 8px;
}

.down-icon {
  background: url('../../../../assets/images/icons/down.svg') center no-repeat;
  margin-right: 8px;
}

.list-header {
  font-size: 14px;
}

.list-item {
  border: 1px solid #e6e8eb;
  padding: 8px 12px 8px 84px;
}

.list-item:hover {
  background-color: #ededf0;
  cursor: pointer;
}
