@import 'variables';

.info-container {
  padding: 8px 24px;
}

.div-account-info {
  margin-top: 16px;
  border: 1px solid $border-color;
}

.div-info-title {
  font-size: 12px;
  text-transform: uppercase;
}

.div-info-content {
  text-align: center;
  font-size: 14px;
}
