@import 'variables';

.login-card {
  max-width: 400px;
  margin: 0 auto;
  background: linear-gradient(to right, $primary-color-minor, $primary-color-major);
  color: $primary-text-color;
}

.login-container {
  margin-top: 80px;
}

.login-button {
  display: flex;
  justify-content: center;
}

mat-card-footer {
  margin: 0;
}

mat-card-footer p {
  color: red;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

button[type="submit"] {
  outline: none;
}
