<div
  class="square float-left"
  [class.playable]="space.playable"
  [class.notplayable]="!space.playable"
  [class.highlight]="space.highlight">
	<div *ngIf="space.piece"
    (click)="gameService.clickAPiece(space.piece)"
    class="style=width: 100%; height: 100%">
    	<div *ngIf="space.piece.type ==='pawn'">
	    	<app-cheaker-pawn [pawn]="space.piece"></app-cheaker-pawn>
    	</div>
    	<div *ngIf="space.piece.type ==='king'">
	    	<app-cheaker-king [king]="space.piece"></app-cheaker-king>
    	</div>
		</div>
		<div *ngIf="space.playable && !space.piece"
      style="width: 100%; height: 100%"
      (click)="gameService.clickEmptySpace(space)">
	</div>
</div>
