.square {
	height: 62.25px;
	width: 12.5%;
}
.playable {
	background-color: #27802B;
}
.notplayable {
	background-color: #FDFFD3;
}
.highlight {
  background-color: rgba(147,112,219,0.5);
  border: 1px solid rgba(147,112,219,0.5);
}
@media only screen and (max-width: 768px) {
	.square {
			height: 37.25px;
	}
}
