#last-game-container {
  display: flex;
}

.img-game {
  height: 112px;
  width: 112px;
}

.div-text-wrapper {
  font-size: 10px;
  max-width: 112px;
}

.div-img-wrapper {
  border: 6px solid #eee;
}
