<div id="last-game-container">
  <div class="div-img-wrapper">
    <img class="img-game" src="./assets/images/games/ruy-lopez.png" alt="">
    <div class="div-text-wrapper">Ruy Lopez opening - white</div>
  </div>
  <div class="game-row__info">
    <div>3 + 2 Blitz Rated</div>
    <div>1 hour ago</div>
    <div style="display: flex">
      <div>Oponent 1</div>
      <div>vs</div>
      <div>Oponent 2</div>
    </div>
    <div class="div-results">
      <span>White resigned, Black is victorious</span>
    </div>
    <div class="opening">
      <strong>B03 Alekhine Defense: Four Pawns Attack</strong>
      <div class="pgn">1. e4 Nf6 2. e5 Nd5 3. c4 Nb6 ... 23 moves </div>
    </div>
  </div>
</div>
