<div class="header">
  <span>Last game</span>
</div>
<div id="last-game-container">
  <div class="div-img-wrapper">
    <img class="img-game" src="./assets/images/games/ruy-lopez.png" alt="">
  </div>
  <div class="game-row__info">
    <div class="game-type">
      <img class="blitz-icon" src="./assets/images/games/types/blitz.jpg" alt="">
      <div style="display: inline-block">
        <div>
          <span class="time-type">3 + 2</span>
          <span>Blitz Rated</span>
        </div>
        <div class="time-ago"><span>1 hour ago</span></div>
      </div>
    </div>
    <div class="oponent">
      <div>Oponent 1</div>
      <div>vs</div>
      <div>Oponent 2</div>
    </div>
    <div class="div-results">
      <span>White resigned, Black is victorious</span>
    </div>
    <div class="opening">
      <strong>B03 Alekhine Defense: Four Pawns Attack</strong>
      <div class="pgn">1. e4 Nf6 2. e5 Nd5 3. c4 Nb6 ... 23 moves </div>
    </div>
  </div>
</div>
