@import 'variables';

.cg-board-wrap {
  width: 212px;
  height: 212px;
  position: relative;
  display: block;
}


.header {
  text-align: center;
  margin-bottom: 8px;
}

.header span {
  text-transform: uppercase;
}

.last-game__img {
  border: 2px solid $accent-color-major;
}

.last-game__info {
  margin-left: 8px;
}

.info__game-type {
  font-size: 14px;
}

.blitz-icon {
  display: inline-block;
  margin: -16px 8px 0 0;
  height: 32px;
  width: 32px;
  background: url('/src/assets/images/games/types/blitz.svg') center no-repeat;
}

.time-type {
  display: inline-block;
  margin-right: 8px;
  font-size: 18px;
}

.time-ago {
  margin-top: -4px;
  font-size: 10px;
}

.info__oponent {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.info__oponent div {
  margin: 0 4px;
}

.info__results {
  color: $success-color;
  text-align: center;
  font-weight: 500;
}

.info__opening {
  margin-top: 16%;
}
