<app-navigation></app-navigation>

<app-find-game></app-find-game>

<div class="d-flex flex-row ui-container">
  <div class="col-xl-3 ui-container__left">
    <mat-card class="profile-card">
      <div class="d-flex profile-card__header">
        <app-avatar-icon src="https://avatars0.githubusercontent.com/u/26419897?s=460&v=4"></app-avatar-icon>
        <div class="profile-card__header-title">
          <div class="profile-card__header-title__username">Chiki bambuki</div>
          <div class="profile-card__header-title__status">Chilling</div>
        </div>
      </div>
      <div class="profile-card__content">
        <div class="profile-card__content-header">Most successfull openings:</div>
        <div class="profile-card__content-games">
          <app-most-successfull-games></app-most-successfull-games>
        </div>
      </div>
      <div class="profile-card__footer">
        <app-account-info></app-account-info>
      </div>
    </mat-card>
    <mat-card class="friends-list-card">
      <app-dropdown-list
        markerColor="rgb(105, 240, 174)"
        [items]="onlineFriends"></app-dropdown-list>
    </mat-card>
  </div>
  <div class="col-xl-5 ui-container__center">
    <mat-card class="leaderboard-card">
      <mat-button-toggle-group value="FIDE">
        <mat-button-toggle value="FIDE">FIDE</mat-button-toggle>
        <mat-button-toggle value="APP">APP</mat-button-toggle>
      </mat-button-toggle-group>
      <app-fide-leaderboard></app-fide-leaderboard>
    </mat-card>
  </div>
  <div class="col-xl-4 ui-container__right">
    <mat-card class="last-game-card">
      <app-last-game></app-last-game>
    </mat-card>
    <mat-card class="forum-card">
      <app-forum></app-forum>
    </mat-card>
  </div>
</div>
