.ui-container {
  padding: 24px;
}

.profile-card-header__header {
  background-color: #eee;
}

.profile-card__header-title {
  padding: 0 16px;
}

.profile-card__header-title__username {
  font-size: 18px;
}

.profile-card__header-title__status {
  font-size: 12px;
  color: #0fb222;
}

.profile-card__content {
  font-size: 12px;
  margin: 8px 0;
}

.friends-list-card {
  margin-top: 24px;
}

.ui-container__center {
  height: 100%;
  padding: 0 24px;
}

.forum-card {
  margin-top: 24px;
}

mat-button-toggle-group {
  margin-bottom: 8px;
}

mat-button-toggle {
  min-width: 75px;
}


