.ui-container {
  padding: 24px;
}

.profile-card {
  width: 420px;
}

.profile-card-header {
  background-color: #eee;
}

.mat-card-header-text {
  padding: 0;
}

.div-profile-header {
  padding: 0 16px;
}

.div-profile-username {
  font-size: 18px;
}

.div-profile-status {
  font-size: 12px;
  color: #0fb222;
}

.div-content-header {
  font-size: 12px;
  margin: 8px 0;
}
