<app-navigation></app-navigation>

<app-find-game></app-find-game>

<div class="ui-container">
  <mat-card class="profile-card">
    <div class="d-flex profile-card-header">
      <app-avatar-icon
        src="https://avatars0.githubusercontent.com/u/26419897?s=460&v=4"></app-avatar-icon>
      <div class="div-profile-header">
        <div class="div-profile-username">
          Chiki bambuki
        </div>
        <div class="div-profile-status">
          Chilling
        </div>
      </div>
    </div>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

