<app-navigation></app-navigation>

<app-find-game></app-find-game>

<div class="ui-container">
  <mat-card class="profile-card">
    <div class="d-flex profile-card-header">
      <app-avatar-icon
        src="https://avatars0.githubusercontent.com/u/26419897?s=460&v=4"></app-avatar-icon>
      <div class="div-profile-header">
        <div class="div-profile-username">
          Chiki bambuki
        </div>
        <div class="div-profile-status">
          Chilling
        </div>
      </div>
    </div>
    <div class="profile-card-content">
      <app-most-successfull-games></app-most-successfull-games>
    </div>
  </mat-card>
</div>

