@import 'variables';

.profile-card,
.friends-list-card,
.last-game-card,
.forum-card,
.leaderboard-card {
  background: linear-gradient(to right, $primary-color-minor, $primary-color-major);
  color: $primary-text-color;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.profile-card,
.last-game-card {
  margin-bottom: 24px;
}

.ui-container {
  padding: 24px;
}

.profile-card-header__header {
  background-color: #eee;
}

.profile-card__header-title {
  padding: 0 16px;
}

.profile-card__header-title__username {
  font-size: 18px;
  font-weight: 500;
}

.profile-card__header-title__status {
  font-size: 12px;
  color: $success-color;
}

.profile-card__content {
  font-size: 12px;
  margin: 8px 0;
}

.profile-card__content-header {
  font-size: 16px;
  margin-bottom: 8px;
}

.friends-list-card {
  min-height: 282px;
}

.ui-container__center {
  height: 100%;
  padding: 0 9px;
}
