<div class="chat-container">
  <mat-card class="chat-card">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages">
        <h4 mat-line>
            <b>{{ message.from.username }}</b>
        </h4>
        <mat-divider></mat-divider>
        <p mat-line>
          <span>{{ message.content }}</span>
        </p>
        <!-- <p mat-line class="chat-notification">
          <span> <b>{{ message.from.username }}</b> joined to the conversation. </span>
        </p> -->
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
