.chat-container {
  margin-right: 20px;
}

.chat-list-item {
  margin-top: 2px;
  margin-bottom: 7px;
  border-radius: 5px;
  background-color: #E8EAF6;
}

.chat-footer-container {
  display: flex;
  justify-content: space-between;
}

.chat-footer-container mat-icon{
  margin: auto;
}
