.mat-elevation-z8 {
  max-height: 700px;
  overflow-y: auto;
  transition: none !important;
  box-shadow: none !important;
}

table {
  width: 100%;
}

.mat-table tr:hover {
  background-color: #ededf0;
  cursor: pointer;
}
