.app-navbar {
  background: linear-gradient(to right, #4E342E, #795548);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
              0 6px 10px 0 rgba(0,0,0,.14),
              0 1px 18px 0 rgba(0,0,0,.12);

  div.navbar-header {
    span:nth-child(2) {
      img {
        margin-left: 5px;
        height: 35px;
        margin-bottom: 5px;
      }
    }
  }

  .navbar-header {
    a {
      color: #fff;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

#navbarCollapse > ul:nth-child(1) > li.nav-item.dropdown.px-2 > button,
#navbarCollapse > ul > li > a,
#navbarCollapse > ul > li > button {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border: 0;
}

.h1, .h1:hover {
  color: white;
}

button:focus {
  outline: none;
  border: 0;
}
