<nav class="navbar navbar-expand-sm navbar-light app-navbar p-2">
  <div class="navbar-header">
    <div class="d-flex">
      <div class="navbar-brand mb-0 ml-4 h1">
        Chess-app
      </div>
    </div>
  </div>
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-targer="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown px-2">
        </li>
        <li class="nav-item px-2">
          <button mat-button [matMenuTriggerFor]="menu">Games</button>
          <mat-menu #menu="matMenu">
            <button *ngFor="let item of menuItems" mat-menu-item (click)="gameMenuSelectHandler(item)">{{ item }}</button>
          </mat-menu>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <a  mat-button class="nav-link">
            <i class="far fa-user mr-1"></i>Username
          </a>
        </li>
        <li class="nav-item">
          <a mat-button class="nav-link" (click)="logoutHandler()">
            <i class="fas fa-user-times mr-1"></i>Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
