<h1 mat-dialog-title>Find Game</h1>
<div mat-dialog-content>
  <mat-progress-spinner *ngIf="showSpinner"
    class="mat-spinner"
    color="warn"
    mode="indeterminate">
  </mat-progress-spinner>
  <mat-radio-group [(ngModel)]="modeSelected" *ngIf="!showSpinner">
    <mat-radio-button *ngFor="let mode of modes" [value]="mode.mode">
      {{ mode.title }}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="playHandler()">Play</button>
  <button mat-button (click)="calcelHandler()" [mat-dialog-close]="modeSelected">Cancel</button>
</div>
