<div id="promotion-choice" class="top" [ngStyle]="{'top': top}">
  <div style="top:0%;left:12.5%" class="promotion-choice promotion-choice-knight" (click)="promotionHandler('k')"></div>
  <div style="top:12.5%;left:12.5%" class="promotion-choice promotion-choice-bishop" (click)="promotionHandler('b')"></div>
  <div style="top:25%;left:12.5%" class="promotion-choice promotion-choice-rook" (click)="promotionHandler('r')"></div>
  <div style="top:37.5%;left:12.5%" class="promotion-choice promotion-choice-queen" (click)="promotionHandler('q')"></div>
</div>
