#promotion-choice {
  position: absolute;
  background: rgba(237,235,233,0.7);
  z-index: 5;
  width: 512px;
  height: 512px;
}

.promotion-choice {
  position: absolute;
  height: 64px;
  width: 64px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.promotion-choice:hover {
  box-shadow: 0 0 48px 8px #d64f00;
  border-radius: 0%;
  transition: all 150ms;
  background-size: 90%;
  cursor: pointer;
}

.promotion-choice-bR {
  background-image: url('../../../../assets/images/pieces/merida/bR.svg');
}

.promotion-choice-bN {
  background-image: url('../../../../assets/images/pieces/merida/bN.svg');
}

.promotion-choice-bB {
  background-image: url('../../../../assets/images/pieces/merida/bB.svg');
}

.promotion-choice-bQ {
  background-image: url('../../../../assets/images/pieces/merida/bQ.svg');
}

.promotion-choice-wR {
  background-image: url('../../../../assets/images/pieces/merida/wR.svg');
}

.promotion-choice-wN {
  background-image: url('../../../../assets/images/pieces/merida/wN.svg');
}

.promotion-choice-wB {
  background-image: url('../../../../assets/images/pieces/merida/wB.svg');
}

.promotion-choice-wQ {
  background-image: url('../../../../assets/images/pieces/merida/wQ.svg');
}
