<div class="box__top">
  <div class="title">
    <div class="d-flex align-items-center">
      <div class="mr-3">
        <span class="chat-image"></span>
      </div>
      <div><span style="font-size: 18px;">Chess-app forum</span></div>
    </div>
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search...">
        </mat-form-field>
      </form>
    </div>
  </div>
  <mat-divider class="title-divider"></mat-divider>
  <div class="table">
    <table class="categs slist slist-pad">
      <thead>
        <tr>
          <th></th>
          <th>Topics</th>
          <th>Posts</th>
          <th>Last post</th>
        </tr>
      </thead>
      <mat-divider></mat-divider>
      <tbody>
        <tr>
          <td class="subject">General Chess Discussion</td>
          <td class="right">15,589</td>
          <td class="right">123,203</td>
          <td>24 minutes ago</td>
        </tr>
        <mat-divider></mat-divider>
        <tr>
          <td class="subject">Game analysis</td>
          <td class="right">6,675</td>
          <td class="right">3,203</td>
          <td>24 minutes ago</td>
        </tr>
        <mat-divider></mat-divider>
        <tr>
          <td class="subject">Feedback</td>
          <td class="right">1,589</td>
          <td class="right">203</td>
          <td>24 minutes ago</td>
        </tr>
        <mat-divider></mat-divider>
        <tr>
          <td class="subject">Off Topics</td>
          <td class="right">589</td>
          <td class="right">203</td>
          <td>24 minutes ago</td>
        </tr>
        <mat-divider></mat-divider>
      </tbody>
    </table>
  </div>
</div>
