$primary-color-major: #795548;
$primary-color-middle: #5D4037;
$primary-color-minor: #4E342E;

$accent-color: #FFD740;//#69F0AE;
$accent-color-hover: #FFA000;
$danger-color: #FF5252;

$primary-text-color: rgba(255, 255, 255, 0.87);
