$primary-color-major: #795548;
$primary-color-middle: #5D4037;
$primary-color-minor: #4E342E;

$accent-color-major: #FFD740;
$accent-color-middle: #FFA000;

$danger-color: #FF5252;
$success-color: #69F0AE;

$primary-text-color: rgba(255, 255, 255, 0.87);
